# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.spec

# Installer & OS files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE & Editors
.idea/
.vscode/
*.swp
*.swo
